.select-container {
  position: relative;
  text-align: left;
  display: inline-block;

  &.opened {
    .dropdown-list {
      display: block;
      background: white;
      padding: 0;
      border: 1px solid #ddd;
      width: 100%;
      overflow: auto;
      max-height: 300px;
    }  
  }

  .select-value {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 40px;
  }

  .dropdown-list {
    display: none;
    position: absolute;
    padding: 0;

    .dropdown-item {
      padding: 8px 12px;
      line-height: 1;
      
      &:hover {
        background-color: #2680ff;
        color: white;
      }
    }
  }
}